body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sign-up{
    max-width: 100px;
    padding: 5px;
    background: #3882f6;
    color: white;
    border-radius: 5px;

    border-width: 0;
    font-size: 18px;
    font-weight: bold;
}

/* Header classes */
.main-header{
    background: #1f2937;
    color: white;

    display: flex;
    flex-direction: column;
}

.main-header a, .main-header a:visited{
  text-decoration: none;
  color: white;  
}

.main-header li{
    list-style: none;
    font-size: 18px;
}

.main-header ul{
    display: flex;
    margin: 0;
    gap: 20px;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.header-logo{
    font-size:24px;
}

.header-content{
    display: flex;
    justify-content: center;
    padding: 80px;
    gap: 100px;
}

.header-content-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
}

.header-content-text div{
    font-size: 48px;
    font-weight:bolder;
}

.header-content-text p{
    font-size: 18px;
}

/* image placeholder
.header-content-image{
    background-color: #b1b3b8;
    flex: 1;
    max-width: 400px;
}
*/

.header-content-image img{
    max-height: 400px;
    width: auto;
}

/* Content classes */
.image{
    border: 2px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.content-title{
    padding: 50px;
    font-size: 36px;
    font-weight: bolder;
}

.content-images{
    display: flex;
    justify-content: center;
    gap: 10%;
}

.captioned-image{
    display: flex;
    flex-wrap: wrap;
    max-width: 150px;
}

/* Quote classes */

.quote-section{
    display: flex;
    background: #e5e7eb;
    justify-content: center;
    padding: 80px;
}
.page-quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
}

.quote-content{
    font-size: 36px;
    font-style: italic;
    opacity: 0.75;
    margin: 0;
}

.quote-author{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-left:auto;
}

/* Banner classes */
.banner{
    background: #3882f6;
    color: white;
}

/* Footer classes */
.footer{
    background: #1f2937;
    color: white;
}