body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header classes */
.main-header{
    background: #1f2937;
    color: white;

    display: flex;
    flex-direction: column;
}

.main-header a, .main-header a:visited{
  text-decoration: none;
  color: white;  
}

.main-header li{
    list-style: none;
    font-size: 18px;
}

.main-header ul{
    display: flex;
    margin: 0;
    gap: 20px;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.header-logo{
    font-size:24px;
}

/* Content classes */
.image{
    border: 2px solid #3882f6;
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

/* Quote classes */
.page-quote{
    background: #e5e7eb;
}

/* Banner classes */
.banner{
    background: #3882f6;
    color: white;
}

/* Footer classes */
.footer{
    background: #1f2937;
    color: white;
}